.votes {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: flex-start;
}
#upVote {
  background-color: lightgreen;
  padding: 0.9rem;
  text-align: center;
  margin-left: 0;
}
#downVote {
background-color: rgb(221, 221, 112);
padding: 1rem;
text-align: center;
margin-left: 0;
}
.btn-warning, .btn-danger {
  margin-left: 1rem;
  border-radius: unset;
}
.btn-success {
  border-radius: unset;
}
#timePosted {
  font-weight: 600;
}
#date {
  font-size: 0.8rem;
  font-weight: 100;
}
.author {
  font-style: oblique;
  font-weight: 600;
}