<div class="votes">
  <button class="btn btn-sm btn-success" (click)='upvote()'><i class="fa fa-thumbs-up" id="like"></i></button>
  <div id="upVote">Up votes<br>{{voting.upvote}}</div>
  <button class="btn btn-sm btn-warning" id="hate" (click)='downvote()'><i class="fa fa-thumbs-down" id="dislike"></i></button> 
  <div id="downVote">Down Votes<br>{{voting.downvote}}</div>
  <button class="btn btn-sm btn-danger" id="del" (click)='deleteQuote(true)'><i class="fas fa-trash-alt"></i></button> 
</div>
<p >Author: <span class="author">{{voting.author}}</span></p>
Posted <span id="timePosted">{{voting.datePosted | dateAgo}}</span>: <span id="date">{{voting.datePosted | date}} </span>