<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <img src="/assets/images/quote.jpg" alt="Image here" width="100%">
    </div>
    <div class="col-md-6 quote">
      <div *ngFor="let quote of sortQuotes let i= index" class="quote-body">
        <h4>{{quote.quoteTitle}}</h4>
        <p appHighlight *ngIf="highestUpvote()===quote.upvote && quote.upvote>0">{{quote.quoteInfo}}</p>
        <p  *ngIf="highestUpvote()!==quote.upvote || quote.upvote===0">{{quote.quoteInfo}}</p>
        <h5>Review</h5>
        <app-quote-details *ngIf='quote' bind-quoty='quote' (isRead)='quoteDelete($event,i)'>
        </app-quote-details>
          by <span id="name">{{quote.name}} </span>
      </div>
    </div>
    <div class="col-md-3">
      <app-quote-form (add)="addedQuote($event)"></app-quote-form>
    </div>
  </div>
</div>